.ol-draw-tools{
    position: absolute;
    top : 5em;
    left: 0.5em;
}

.ol-draw-tools .ol-control{
    position: static;
}

.ol-draw-tools .ol-control button,
.ol-draw-tools button.ol-control:focus{
    background-color: #fff;
}


.ol-draw-tools .ol-control.active button,
.ol-draw-tools .ol-control button:active,
.ol-draw-tools .ol-control button:hover{
    background-color: #f4f4f4;
}


.ol-draw-tools .ol-control button {
    display:none;
    background-image: url('../images/spritesheet.png');
}

.ol-draw-tools .ol-control.ol-draw-point button ,
.ol-draw-tools .ol-control.ol-draw-multipoint button {
    display: block;
    background-position: -125px -4px;
    background-repeat: no-repeat;
}

.ol-draw-tools .ol-control.ol-draw-circle button {
    display: block;
    background-position: -95px -4px;
    background-repeat: no-repeat;
}

.ol-draw-tools .ol-control.ol-draw-linestring button,
.ol-draw-tools .ol-control.ol-draw-multilinestring button {
    display: block;
    background-position: -4px -4px;
    background-repeat: no-repeat;
}

.ol-draw-tools .ol-control.ol-draw-square button,
.ol-draw-tools .ol-control.ol-draw-multisquare button,
.ol-draw-tools .ol-control.ol-draw-rectangle button,
.ol-draw-tools .ol-control.ol-draw-multirectangle button {
    display: block;
    background-position: -64px -4px;
    background-repeat: no-repeat;
}

.ol-draw-tools .ol-control.ol-draw-polygon button,
.ol-draw-tools .ol-control.ol-draw-multipolygon button {
    display: block;
    background-position: -33px -4px;
    background-repeat: no-repeat;
}

.ol-draw-tools .ol-control.ol-edit button {
    display: block;
    background-position: -154px -4px;
    background-repeat: no-repeat;
}

.ol-draw-tools .ol-control.ol-edit.inactive button {
    display: block;
    background-position: -214px -4px;
    background-repeat: no-repeat;
}

.ol-draw-tools .ol-control.ol-delete button {
    display: block;
    background-position: -184px -4px;
    background-repeat: no-repeat;
}

.ol-draw-tools .ol-control.ol-delete.inactive button {
    display: block;
    background-position: -244px -4px;
    background-repeat: no-repeat;
}

.ol-draw-tools .ol-control.ol-translate button {
    display: block;
    background-image: url('../images/translate.png');
    background-repeat: no-repeat;
}