html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.well{
    overflow-y: auto;
}

button.btn.help-button{
    top: 35px;
    z-index: 10;
}
pre.help-content{
    margin-top: 35px;
}

.height-500{
    max-height: 500px;
}